<form class="form add-user--form" {{action "triggerSave" on="submit"}}>
	<div class="card">
		<div class="card--header">
			<h4 class="header--title">Add User</h4>
		</div>
		<div class="card--content row">
			<div class="col">
				<div class="form-group">
					<label class="form-label">
						First Name
						<span class="star">*</span>
					</label>
					{{input type="text"
									value=firstName
									class="form-control"
									required="required"}}
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label class="form-label">
						Last Name
						<span class="star">*</span>
					</label>
					{{input type="text"
									value=lastName
									class="form-control"
									required="required"}}
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<label class="form-label">
						Username
						<span class="star">*</span>
					</label>
					{{input type="text"
									value=username
									class="form-control"
									required="required"}}
				</div>
				<div class="form-group">
					<label class="form-label">
						Email Address
						<span class="star">*</span>
					</label>
					{{input type="email"
									value=email
									class="form-control"
									required="required"}}
				</div>
				<div class="form-group">
					<label class="form-label">
						Password
						<span class="star">*</span>
					</label>
					{{input type="password"
									value=password
									class="form-control"
								required="required"}}
				</div>
				<div class="card--details">
					<span class="star">*</span>
					Required Fields
				</div>
				<button class="btn btn-card pull-right" type="submit">Add User</button>
			</div>
		</div>
	</div>
</form>
{{#if errorMessage}}
	{{errorMessage}}
{{/if}}
