{{#multi-step-form}}
	<form id="form" class="form" {{action "submit" on="submit"}}>
		<div id="adult-intake-1" class="form-step--item active">
			<div class="row">
				<div class="col-12">
					<label class="form-label mt-3">
						Client Name
						<span class="star">*</span>
					</label>
				</div>
				<div class="col-12 col-sm">
					<div class="form-group">
						{{input type="text"
										value=firstName
										class="form-control required"
										placeholder="First Name"
										onEvent="keyPress"
										action="inputValidation"
										required="required"}}
					</div>
				</div>
				<div class="col-12 col-sm">
					<div class="form-group">
						{{input type="text"
										value=middleName
										class="form-control"
										placeholder="Middle Name"
										required="required"}}
					</div>
				</div>
				<div class="col-12 col-sm">
					<div class="form-group">
						{{input type="text"
										value=lastName
										class="form-control required"
										placeholder="Last Name"
										onEvent="keyPress"
										action="inputValidation"
										required="required"}}
					</div>
				</div>
			</div>
			<div class="row justify-content-between mb-3">
				<div class="col-12 col-sm">
					<div class="form-group">
						<label class="form-label">
							Date of Birth
							<span class="star">*</span>
						</label>
							<div class="input-group">
								{{input type="date"
												value=dateOfBirth
												class="form-control datepicker date required"}}
								<div class="input-group-prepend">
									<span class="input-group-text">
										{{fa-icon "calendar"
															ariaLabel="Pick a Date"}}
									</span>
								</div>
							</div>
					</div>
				</div>
				<div class="col-12 col-sm-2">
					<div class="form-group">
						<label class="form-label">
							Current Age
							<span class="star">*</span>
						</label>
						{{input type="number"
										value=age
										placeholder="XX"
										min="0"
										class="form-control required"}}
					</div>
				</div>
				<div class="col-12 col-sm">
					<div class="form-group">
						<label class="form-label">
							Social Security #
							<span class="star">*</span>
						</label>
						{{input type="number"
										value=socialSecurityNumber
										placeholder="XXX-XX-XXXX"
										min="0"
										class="form-control required"}}
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12">
					<label class="form-label">
						Address
						<span class="star">*</span>
					</label>
				</div>
				<div class="col-12 col-sm-10">
					<div class="form-group">
						{{input type="text"
										value=streetName
										placeholder="Street"
										class="form-control required"}}
					</div>
				</div>
				<div class="col-5 col-sm-2">
					<div class="form-group">
						{{input type="number"
										value=streetNumber
										placeholder="(Apt. #)"
										min="0"
										class="form-control"}}
					</div>
				</div>
				<div class="col-7 col-sm-4">
					<div class="form-group">
						{{input type="text"
										value=cityData.name
										placeholder="City"
										class="form-control required"}}
					</div>
				</div>
				<div class="col-7 col-sm-4">
					<div class="form-group">
						{{input type="text"
										value=stateData.name
										placeholder="State"
										class="form-control required"}}
					</div>
				</div>
				<div class="col-5 col-sm-4">
					<div class="form-group">
						{{input type="number"
										value=zipcode
										placeholder="Zip code"
										min="0"
										class="form-control required"}}
					</div>
				</div>
			</div>
			<div class="row justify-content-between mb-2">
				<div class="col-12">
					<label class="form-label mb-4">
						Which category best describes:
						<span class="star">*</span>
					</label>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-ethnicity"
										id="choice-ethnicity-americanIndian-alaskaNative"
										value=choiceAmericanIndianAlaskaNative}}
						<label for="choice-ethnicity-americanIndian-alaskaNative"
									 class="form-check-label">
							American Indian or Alaska Native
						</label>
					</div>
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-ethnicity"
										id="choice-ethnicity-asain"
										value=choiceAsain}}
						<label for="choice-ethnicity-asain" class="form-check-label">
							Asain
						</label>
					</div>
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-ethnicity"
										id="choice-ethnicity-african-american"
										value=choiceAfricanAmerican}}
						<label for="choice-ethnicity-african-american"
									 class="form-check-label">
							Black or African American
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-ethnicity"
										id="choice-ethnicity-hispanic-latino-spanish"
										value=choiceHispanicLatinoSpanish}}
						<label for="choice-ethnicity-hispanic-latino-spanish"
									 class="form-check-label">
							Hispanic, Latino, or Spanish origin
						</label>
					</div>
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-ethnicity"
										id="choice-ethnicity-middleEastern-northAfrican"
										value=choiceMiddleEasternNorthAfrican}}
						<label for="choice-ethnicity-middleEastern-northAfrican"
									 class="form-check-label">
							Middle Eastern or North African
						</label>
					</div>
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-ethnicity"
										id="choice-ethnicity-nativeHawaiian-pacificIslander"
										value=choiceNativeHawaiianPacificIslander}}
						<label for="choice-ethnicity-nativeHawaiian-pacificIslander"
									 class="form-check-label">
							Native Hawaiian or Pacific Islander
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-ethnicity"
										id="choice-ethnicity-white"
										value=choiceWhite}}
						<label for="choice-ethnicity-white" class="form-check-label">
							White
						</label>
					</div>
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-ethnicity"
										id="choice-ethnicity-other"
										value=choiceOther}}
						<label for="choice-ethnicity-other"
									 class="form-check-label">
							Other race, ethnicity, or origin
						</label>
					</div>
				</div>
			</div>
		</div>
		<div id="adult-intake-2" class="form-step--item hidden">
			<div class="row justify-content-between mb-2 align-items-center">
				<div class="col-12">
					<label class="form-label mt-3">
						Primary Language:
						<span class="star">*</span>
					</label>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="isPrimary"
										id="english"
										value=english}}
						<label for="english"
									 class="form-check-label box">
							English
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="isPrimary"
										id="spanish"
										value=spanish}}
						<label for="spanish"
									 class="form-check-label box">
							Spanish
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="choice-language"
										id="other_language"
										value=other_language}}
						<label for="other_language"
									 class="form-check-label">
							Other
						</label>
						{{input type="text"
										class="form-control"
										name="otherNote"
										id="other_language_input"
										value=otherNote}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label class="form-label mt-3">
						Place of Employment:
						<span class="star">*</span>
					</label>
					<div class="form-group">
						{{input type="text"
										class="form-control"
										name="placeOfEmployment"
										id="placeOfEmployment"
										value=placeOfEmployment}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label class="form-label mt-3">
						Work Phone:
					</label>
					<div class="form-group phone-number">
						( {{input type="number"
										min="0"
										class="form-control number"
										name="workPhoneArea"
										placeholder="XXX"
										value=areaCodeWork}} )
						{{input type="number"
										min="0"
										class="form-control number phone"
										name="workPhoneNumber"
										placeholder="XXX-XXXX"
										value=phoneNumberWork}}
					</div>
					<label class="block">
						May we call you here?
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="canCallWork"
										id="canCallWorkYes"
										value=yes}}
						<label for="canCallWorkYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="canCallWork"
										id="canCallWorkNo"
										value=no}}
						<label for="canCallWorkNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
				<div class="col">
					<label class="form-label mt-3">
						Home Phone:
					</label>
					<div class="form-group phone-number">
						( {{input type="number"
										min="0"
										class="form-control number"
										name="areaCode"
										placeholder="XXX"
										value=areaCodeHome}} )
						{{input type="number"
										min="0"
										class="form-control number phone"
										name="phoneNumber"
										placeholder="XXX-XXXX"
										value=phoneNumberHome}}
					</div>
					<label class="block">
						May we call you here?
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="canCallHome"
										id="canCallHomeYes"
										value=yes}}
						<label for="canCallHomeYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="canCallHome"
										id="canCallHomeNo"
										value=no}}
						<label for="canCallHomeNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
				<div class="col">
					<label class="form-label mt-3">
						Cell Phone:
					</label>
					<div class="form-group phone-number">
						( {{input type="number"
										min="0"
										class="form-control number"
										name="areaCode"
										placeholder="XXX"
										value=areaCodeCell}} )
						{{input type="number"
										min="0"
										class="form-control number phone"
										name="phoneNumber"
										placeholder="XXX-XXXX"
										value=phoneNumberCell}}
					</div>
					<label class="block">
						May we call you here?
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="canCallCell"
										id="canCallCellYes"
										value=yes}}
						<label for="canCallCellYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="canCallCell"
										id="canCallCellNo"
										value=no}}
						<label for="canCallCellNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-12 col-sm mb-2">
					<label class="form-label">
						Are you a Service Member or a Veteran?
						<span class="star">*</span>
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="isServiceMemberOrVeteran"
										id="isServiceMemberOrVeteranYes"
										value=Yes}}
						<label for="isServiceMemberOrVeteranYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="isServiceMemberOrVeteran"
										id="isServiceMemberOrVeteranNo"
										value=no}}
						<label for="isServiceMemberOrVeteranNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
				<div class="col-12 col-sm mb-2">
					<label class="form-label">
						Are you a family member of a Service Member or a Veteran?
						<span class="star">*</span>
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="hasFamilyWhoIsServiceMemberOrVeteran"
										id="hasFamilyWhoIsServiceMemberOrVeteranYes"
										value=Yes}}
						<label for="hasFamilyWhoIsServiceMemberOrVeteranYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="hasFamilyWhoIsServiceMemberOrVeteran"
										id="hasFamilyWhoIsServiceMemberOrVeteranNo"
										value=no}}
						<label for="hasFamilyWhoIsServiceMemberOrVeteranNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
				<div class="col-12 col-sm mb-2">
					<label class="form-label">
						Were you referred by the Veteran Resource Center?
						<span class="star">*</span>
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="isReferredByVeteranResourceCenter"
										id="isReferredByVeteranResourceCenterYes"
										value=Yes}}
						<label for="isReferredByVeteranResourceCenterYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="isReferredByVeteranResourceCenter"
										id="isReferredByVeteranResourceCenterNo"
										value=no}}
						<label for="isReferredByVeteranResourceCenterNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<label class="form-label mt-5 mb-3">
						Check any topic(s) you would like addressed in counseling:
						<span class="star">*</span>
					</label>
				</div>
				<div class="col">
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=abortion
										id="abortion"}}
						<label class="form-check-label checkbox" for="abortion">
							Abortion
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=alcholDrugs
										id="alcholDrugs"}}
						<label class="form-check-label checkbox" for="alcholDrugs">
							Alchol/Drugs
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=anger
										id="anger"}}
						<label class="form-check-label checkbox" for="anger">
							Anger
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=appetiteChange
										id="appetiteChange"}}
						<label class="form-check-label checkbox" for="appetiteChange">
							Appetite Change
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=assertiveness
										id="assertiveness"}}
						<label class="form-check-label checkbox" for="assertiveness">
							Assertiveness
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=bothersomeHabits
										id="bothersomeHabits"}}
						<label class="form-check-label checkbox" for="bothersomeHabits">
							Bothersome Habits
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=careerDecisions
										id="careerDecisions"}}
						<label class="form-check-label checkbox" for="careerDecisions">
							Career Decisions
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=confusion
										id="confusion"}}
						<label class="form-check-label checkbox" for="confusion">
							Confusion
						</label>
					</div>
				</div>
				<div class="col">
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=decisionMaking
										id="decisionMaking"}}
						<label class="form-check-label checkbox" for="decisionMaking">
							Decision Making
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=delusions
										id="delusions"}}
						<label class="form-check-label checkbox" for="delusions">
							Delusions
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=depression
										id="depression"}}
						<label class="form-check-label checkbox" for="depression">
							Depression
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=divorce
										id="divorce"}}
						<label class="form-check-label checkbox" for="divorce">
							Divorce
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=familyConfilct
										id="familyConfilct"}}
						<label class="form-check-label checkbox" for="familyConfilct">
							Family Confilct
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=fearOfFuture
										id="fearOfFuture"}}
						<label class="form-check-label checkbox" for="fearOfFuture">
							Fear of Future
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=hallucinations
										id="hallucinations"}}
						<label class="form-check-label checkbox" for="hallucinations">
							Hallucinations
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=legalIssues
										id="legalIssues"}}
						<label class="form-check-label checkbox" for="legalIssues">
							Legal Issues
						</label>
					</div>
				</div>
				<div class="col">
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=loneliness
										id="loneliness"}}
						<label class="form-check-label checkbox" for="loneliness">
							Loneliness
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=lossGriefDeath
										id="lossGriefDeath"}}
						<label class="form-check-label checkbox" for="lossGriefDeath">
							Loss/Grief/Death
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=motivation
										id="motivation"}}
						<label class="form-check-label checkbox" for="motivation">
							Motivation
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=obsessions
										id="obsessions"}}
						<label class="form-check-label checkbox" for="obsessions">
							Obsessions
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=physicalHealth
										id="physicalHealth"}}
						<label class="form-check-label checkbox" for="physicalHealth">
							Physical Health
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=pregnancy
										id="pregnancy"}}
						<label class="form-check-label checkbox" for="pregnancy">
							Pregnancy
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=relationshipIssues
										id="relationshipIssues"}}
						<label class="form-check-label checkbox" for="relationshipIssues">
							Relationship Issues
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=schoolAnxiety
										id="schoolAnxiety"}}
						<label class="form-check-label checkbox" for="schoolAnxiety">
							School Anxiety
						</label>
					</div>
				</div>
				<div class="col">
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=selfconfidence
										id="selfconfidence"}}
						<label class="form-check-label checkbox" for="selfconfidence">
							Self-Confidence
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=selfImage
										id="selfImage"}}
						<label class="form-check-label checkbox" for="selfImage">
							Self-Image
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=sexualAssult
										id="sexualAssult"}}
						<label class="form-check-label checkbox" for="sexualAssult">
							Sexual Assult
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=sexuality
										id="sexuality"}}
						<label class="form-check-label checkbox" for="sexuality">
							Sexuality
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=sleep
										id="sleep"}}
						<label class="form-check-label checkbox" for="sleep">
							Sleep
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=stressAnxiety
										id="stressAnxiety"}}
						<label class="form-check-label checkbox" for="stressAnxiety">
							Stress Anxiety
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=sucidalThoughts
										id="sucidalThoughts"}}
						<label class="form-check-label checkbox" for="sucidalThoughts">
							Sucidal Thoughts
						</label>
					</div>
					<div class="form-check">
						{{input type="checkbox"
										class="form-check-input"
										name="topic"
										checked=weightLossGain
										id="weightLossGain"}}
						<label class="form-check-label checkbox" for="weightLossGain">
							Weight Loss/Gain
						</label>
					</div>
				</div>

			</div>
		</div>
		<div id="adult-intake-3" class="form-step--item hidden">
			<div class="row">
				<div class="col-12 mb-4 mt-4 text-center">
					<span class="form-title light-underline">Client Background</span>
				</div>
				<div class="col-12 mb-2">
					<span class="form-title">Personal History</span>
				</div>
				<div class="col-12">
					<label class="form-label mb-3">
						Have you ever been hit, slapped, thrown or molested?
						<span class="star">*</span>
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="hasBeenAbused"
										id="hasBeenAbusedYes"
										onEvent="changed"
										action="ifYesToggle"
										value=Yes}}
						<label for="hasBeenAbusedYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="hasBeenAbused"
										id="hasBeenAbusedNo"
										value=no}}
						<label for="hasBeenAbusedNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
				<div class="if-yes hidden">
					<div class="col-6">
						<div class="form-group">
							<label class="form-label sub-label">
								By whom?
							</label>
							{{input type="text"
											value=abusedByWhom
											min="0"
											class="form-control"}}
						</div>
					</div>
					<div class="col-3">
						<div class="form-group">
							<label class="form-label sub-label">
								How many times?
							</label>
							{{input type="number"
											value=abusedCount
											placeholder="XX"
											min="0"
											class="form-control w-50"}}
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-12">
					<label class="form-label mb-3">
						Have there been any serious illnesses, injuries, emotional problems,
						or deaths in the immediate family, including yourself
						<span class="star">*</span>
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="seriousProblemsInFamily"
										id="seriousProblemsInFamilyYes"
										onEvent="changed"
										action="ifYesToggle"
										value=Yes}}
						<label for="seriousProblemsInFamilyYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="seriousProblemsInFamily"
										id="seriousProblemsInFamilyNo"
										value=no}}
						<label for="seriousProblemsInFamilyNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
				<div class="if-yes hidden">
					<div class="col-12">
						<div class="form-group">
							<label for="seriousFamilyProblemsDesc" class="form-label sub-label">
								If yes, please describe:
							</label>
							<textarea id="seriousFamilyProblemsDesc"
								class="form-control"
								name="seriousFamilyProblemsDesc"
								rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-12">
					<label class="form-label mb-3 w-75">
						What medications are you presently taking (include home remedies and
						over-the-counter drugs such as aspirin, etc.)
					</label>
					<div class="form-table">
						<div class="col-6">
							<div class="form-group">
								<label class="form-label">
									Medication
								</label>
								{{input type="text"
												value=medication.name
												class="form-control required"}}
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="form-label">
									For
								</label>
								{{input type="text"
												value=counseleemedication.reason
												class="form-control required"}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					<label class="form-label mb-3">
						Any problems with alcohol?
						<span class="star">*</span>
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="alcoholProblem"
										id="alcoholProblemYes"
										value=Yes}}
						<label for="alcoholProblemYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="alcoholProblem"
										id="alcoholProblemNo"
										value=no}}
						<label for="alcoholProblemNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
				<div class="col">
					<label class="form-label mb-3">
						Have you ever had a drug/alcohol related black out?
						<span class="star">*</span>
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="hadBlackOut"
										id="hadBlackOutYes"
										action="ifYesToggle"
										value=Yes}}
						<label for="hadBlackOutYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="hadBlackOut"
										id="hadBlackOutNo"
										value=no}}
						<label for="hadBlackOutNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
				<div class="if-yes hidden">
					<div class="col">
						<div class="form-group">
							<label class="form-label">
								If yes, where:
							</label>
							{{input type="text"
											value=blackOutLocation
											class="form-control"}}
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label class="form-label">
								Date of Birth
							</label>
								<div class="input-group">
									{{input type="date"
													value=blackOutDate
													class="form-control datepicker date"}}
									<div class="input-group-prepend">
										<span class="input-group-text">
											{{fa-icon "calendar" ariaLabel="Pick a Date"}}
										</span>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-between mb-2 align-items-center">
				<div class="col-12">
					<label class="form-label mt-3">
						Any family members with a drug or alcohol problem?
						<span class="star">*</span>
					</label>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="familyDrugAlcoholProblem"
										id="parent"
										value=parent}}
						<label for="parent"
									 class="form-check-label box">
							Parent/Step-parent
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="familyDrugAlcoholProblem"
										id="sibling"
										value=sibling}}
						<label for="sibling"
									 class="form-check-label box">
							Sibling
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="familyDrugAlcoholProblem"
										id="grandparent"
										value=grandparent}}
						<label for="grandparent"
									 class="form-check-label box">
							Grandparent
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="familyDrugAlcoholProblem"
										id="friend"
										value=friend}}
						<label for="friend"
									 class="form-check-label box">
							Friend
						</label>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="familyDrugAlcoholProblem"
										id="child"
										value=child}}
						<label for="child"
									 class="form-check-label box">
							Child
						</label>
					</div>
				</div>
				<div class="col-12">
					<div class="form-check">
						{{input type="radio"
										class="form-check-input"
										name="familyDrugAlcoholProblem"
										id="familyDrugAlcoholProblemOther"}}
						<label for="familyDrugAlcoholProblemOther"
									 class="form-check-label mb-1">
							Other
						</label>
						{{input type="text"
										class="form-control"
										name="familyDrugProblemOtherDetail"
										id="familyDrugProblemOtherDetail"
										value=familyDrugProblemOtherDetail}}
					</div>
				</div>
			</div>
		</div>
		<div id="adult-intake-4" class="form-step--item hidden">
			<div class="row">
				<div class="col-12 col-sm-4">
					<label class="form-label mt-3">
						Current desire to harm him/herself?
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="currentHarmSelf"
										id="currentHarmSelfYes"
										value=yes}}
						<label for="currentHarmSelfYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="currentHarmSelf"
										id="currentHarmSelfNo"
										value=no}}
						<label for="currentHarmSelfNo"
									 class="form-check-label">
							No
						</label>
					</div>
					<div class="form-group">
						<label class="block">
							Please Provide Example
						</label>
						{{input type="text"
										value=currentHarmSelfExample
										class="form-control"}}
					</div>
				</div>
				<div class="col-12 col-sm-4">
					<label class="form-label mt-3">
						Have you attempted to harm yourself before?
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="pastHarmSelf"
										id="pastHarmSelfYes"
										value=yes}}
						<label for="pastHarmSelfYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="pastHarmSelf"
										id="pastHarmSelfNo"
										value=no}}
						<label for="pastHarmSelfNo"
									 class="form-check-label">
							No
						</label>
					</div>
					<div class="form-group">
						<label class="block">
							Please Provide Example
						</label>
						{{input type="text"
										value=pastHarmSelfExample
										class="form-control"}}
					</div>
				</div>
				<div class="col-12 col-sm-4">
					<label class="form-label mt-3">
						Current desire to harm others?
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="currentHarmOthers"
										id="currentHarmOthersYes"
										value=yes}}
						<label for="currentHarmOthersYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="currentHarmOthers"
										id="currentHarmOthersNo"
										value=no}}
						<label for="currentHarmOthersNo"
									 class="form-check-label">
							No
						</label>
					</div>
					<div class="form-group">
						<label class="block">
							Please Provide Example
						</label>
						{{input type="text"
										value=currentHarmOthersExample
										class="form-control"}}
					</div>
				</div>
				<div class="col-12 col-sm-4">
					<label class="form-label mt-3">
						Have you attempted to harm others in the past?
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="pastHarmOthers"
										id="pastHarmOthersYes"
										value=yes}}
						<label for="pastHarmOthersYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="pastHarmOthers"
										id="pastHarmOthersNo"
										value=no}}
						<label for="pastHarmOthersNo"
									 class="form-check-label">
							No
						</label>
					</div>
					<div class="form-group">
						<label class="block">
							Please Provide Example
						</label>
						{{input type="text"
										value=pastHarmOthersExample
										class="form-control"}}
					</div>
				</div>
			</div>
		</div>
	</form>
{{/multi-step-form}}
{{yield}}
