<div class="list-row align-items-center">
	<div class="col-1 table-item">{{client.id}}</div>
	<div class="col-3 table-item">{{client.person.firstName}} {{client.person.lastName}}</div>
	<div class="col-1 table-item">{{client.person.age}}</div>
	<div class="col-2 table-item">
		{{#link-to "clients.client" client.id
			title="View Client"
			class="btn-action profile"}}
			{{fa-icon "user"}}
		{{/link-to}}
		{{#link-to "clients.client" client.id
			title="Edit Client"
			class="btn-action edit"}}
			{{fa-icon "edit"}}
		{{/link-to}}
		<button class="btn-action delete"
			type="button"
			name="button"
			data-toggle="modal"
			data-target="#deleteModal{{client.id}}"
			title="Delete client">
			{{fa-icon "times"}}
		</button>
	</div>
</div>
{{!-- <div class="modal fade"
	id="deleteModal{{client.id}}"
	tabindex="-1"
	role="dialog"
	aria-labelledby="deleteModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="yeild-symbol">
					<span class="yeild-line"></span>
					<span class="yeild-dot"></span>
				</div>
				<h2>Are you sure?</h2>
				<div class="text-muted">
					You will not be able to undo this action.
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"
								class="btn btn-close"
								{{action (action "cancelDeletingclient")}}
								data-dismiss="modal">
					Cancel
				</button>
				<button type="button"
								class="btn btn-comfirm"
								data-dismiss="modal"
								{{action (action "deleteClient" clientToDelete)}}>
					Yes, delete!
				</button>
			</div>
		</div>
	</div>
</div> --}}
