<div class="container">
	<div class="row">
		<div class="col-12">
			<span class="form-title">Client Personal Information</span>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12 col-sm-2">
			<div class="single-detail">
				<h5 class="single-detail--label">ID:</h5>
				<span class="single-detail--value">{{client.id}}</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">First Name:</h5>
				<span class="single-detail--value">{{client.person.firstName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Middle Name:</h5>
				<span class="single-detail--value">{{client.person.middleName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Last Name:</h5>
				<span class="single-detail--value">{{client.person.lastName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Gender:</h5>
				<span class="single-detail--value">{{client.person.gender.name}}</span>
			</div>
		</div>
	</div>
</div>
{{!-- <div class="container">
	<div class="row">
		<div class="col-2">
			<div class="detail">
				<h4 class="detail-title"> User ID: </h4>
				<span class="detail-value"> {{client.id}} </span>
			</div>
		</div>
		<div class="col-7">
			<div class="detail">
				<h4 class="detail-title"> Full Name: </h4>
				<span class="detail-value">
					{{client.person.firstName}}
					{{client.person.middleName}}
					{{client.person.lastName}}
				</span>
			</div>
		</div>
		<div class="col-3">
			<div class="detail">
				<h4 class="detail-title"> User Age: </h4>
				<span class="detail-value"> {{client.person.age}} </span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-5">
			<div class="detail">
				<h4 class="detail-title"> Has Family Who is Service Member or Veteran </h4>
				{{#if client.hasFamilyWhoIsServiceMemberOrVeteran}}
					<span class="detail-value"> Yes </span>
				{{else}}
					<span class="detail-value"> No </span>
				{{/if}}
			</div>
		</div>
		<div class="col-4">
			<div class="detail">
				<h4 class="detail-title"> Password Created At: </h4>
				<span class="detail-value">
					{{moment-format client.passwordCreatedAt 'YYYY-MM-DD HH:mm'}}
				</span>
			</div>
		</div>
		<div class="col-3">
			<div class="detail">
				<h4 class="detail-title"> Date of Birth: </h4>
				<span class="detail-value"> {{moment-format client.person.dateOfBirth 'YYYY-MM-DD'}}</span>
			</div>
		</div>
	</div>
</div>
{{yield}} --}}
