<div class="container">
	<div class="row mb-4">
		<div class="col-12">
			<span class="form-title dark">Client Personal Information</span>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-1">
			<div class="single-detail">
				<h5 class="single-detail--label">ID:</h5>
				<span class="single-detail--value">{{client.id}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">First Name:</h5>
				<span class="single-detail--value">{{client.person.firstName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Middle Name:</h5>
				<span class="single-detail--value">{{client.person.middleName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Last Name:</h5>
				<span class="single-detail--value">{{client.person.lastName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3 col-md-2">
			<div class="single-detail">
				<h5 class="single-detail--label">Gender:</h5>
				<span class="single-detail--value">{{client.person.gender.name}}</span>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
      <div class="light-divider"></div>
    </div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-4 col-md-2">
			<div class="single-detail">
				<h5 class="single-detail--label">Date of Birth:</h5>
				<span class="single-detail--value">
					{{moment-format client.person.dateOfBirth 'YYYY-MM-DD'}}
				</span>
			</div>
		</div>
		<div class="col-12 col-sm-2 col-md-1">
			<div class="single-detail">
				<h5 class="single-detail--label">Age:</h5>
				<span class="single-detail--value">{{client.person.age}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Social Security Number</h5>
				<span class="single-detail--value">
					{{client.socialSecurityNumber}}
				</span>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="single-detail">
				<h5 class="single-detail--label">
					Place of Employment
				</h5>
				<span class="single-detail--value">
					{{ client.placeOfEmployment }}
				</span>
			</div>
		</div>
		<div class="col">
			<div class="single-detail">
				<h5 class="single-detail--label">
					Ethnicity
				</h5>
				<span class="single-detail--value">
					{{ client.clientethnicity.name }}
				</span>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
      <div class="light-divider"></div>
    </div>
	</div>
	<div class="row">
		<div class="col-12 col">

		</div>
	</div>
	<div class="row mt-5 mb-3">
		<div class="col-12">
			<span class="form-title dark">Client Related Veteran Information</span>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">
					Is Service Member or Veteran?
				</h5>
				<span class="single-detail--value">
					{{#if client.isServiceMemberOrVeteran}}
						Yes
					{{else}}
						No
					{{/if}}
				</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">
					Has Family who is service member or veteran
				</h5>
				<span class="single-detail--value">
					{{#if client.hasFamilyWhoIsServiceMemberOrVeteran}}
						Yes
					{{else}}
						No
					{{/if}}
				</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">
					Referred by veteran resource center?
				</h5>
				<span class="single-detail--value">
					{{#if client.isReferredByVeteranResourceCenter}}
						Yes
					{{else}}
						No
					{{/if}}
				</span>
			</div>
		</div>
		<div class="col-12">
      <div class="light-divider"></div>
    </div>
	</div>
</div>
{{!-- <div class="container">
	<div class="row">
		<div class="col-2">
			<div class="detail">
				<h4 class="detail-title"> User ID: </h4>
				<span class="detail-value"> {{client.id}} </span>
			</div>
		</div>
		<div class="col-7">
			<div class="detail">
				<h4 class="detail-title"> Full Name: </h4>
				<span class="detail-value">
					{{client.person.firstName}}
					{{client.person.middleName}}
					{{client.person.lastName}}
				</span>
			</div>
		</div>
		<div class="col-3">
			<div class="detail">
				<h4 class="detail-title"> User Age: </h4>
				<span class="detail-value"> {{client.person.age}} </span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-5">
			<div class="detail">
				<h4 class="detail-title"> Has Family Who is Service Member or Veteran </h4>
				{{#if client.hasFamilyWhoIsServiceMemberOrVeteran}}
					<span class="detail-value"> Yes </span>
				{{else}}
					<span class="detail-value"> No </span>
				{{/if}}
			</div>
		</div>
		<div class="col-4">
			<div class="detail">
				<h4 class="detail-title"> Password Created At: </h4>
				<span class="detail-value">
					{{moment-format client.passwordCreatedAt 'YYYY-MM-DD HH:mm'}}
				</span>
			</div>
		</div>
		<div class="col-3">
			<div class="detail">
				<h4 class="detail-title"> Date of Birth: </h4>
				<span class="detail-value"> {{moment-format client.person.dateOfBirth 'YYYY-MM-DD'}}</span>
			</div>
		</div>
	</div>
</div>
{{yield}} --}}
