<nav class="site-navigation">
  <button class="nav-btn" onclick={{action "handleSidebar"}}>
    <span class="hamburger"></span>
  </button>
  <div class="navigation-container">
    <h3 class="site-navigation__title">Family Support Services</h3>
    <div class="site-navigation__actions">
      {{#if session.isAuthenticated}}
        {{#search-filter
            filter=(action 'filterByName') as |filteredResults|}}
          <div class="filtered-search__results hidden">
            <ul class="search__results--list">
              {{#each filteredResults as |singleResult|}}
                <li class="search__results--item">
                  {{#link-to "users.user" singleResult.id
                      title="View Person"
                      class="search__results--link"}}
                    {{fa-icon "user"}}
                    {{singleResult.firstName}} {{singleResult.lastName}}
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </div>
        {{/search-filter}}
      {{/if}}
      {{!-- <div class="site-navigation__search">
        {{fa-icon "search" class="site-navigation__search-icon"}}
        <input
          type="text"
          class="site-navigation__search-input form-control"
          placeholder="Search for patients or users..." />
      </div> --}}
      <ul class="list-inline site-navigation__links">
        <li class="site-navigation__link-item list-inline-item">
          {{#link-to "dashboard" title="Dashboard" class="site-navigation__link"}}
            {{fa-icon "home" ariaLabel="Dashboard" class="site-navigation__icon"}}
          {{/link-to}}
        </li>
        <li class="site-navigation__link-item list-inline-item">
          {{#link-to "clients" title="Patients" class="site-navigation__link"}}
            {{fa-icon "users" ariaLabel="Patients" class="site-navigation__icon"}}
          {{/link-to}}
        </li>
        <li class="site-navigation__link-item list-inline-item">
          {{#link-to "dashboard" title="Form Results" class="site-navigation__link"}}
            {{fa-icon "folder-open"
              ariaLabel="Form Results"
              class="site-navigation__icon"}}
          {{/link-to}}
        </li>
        <li class="site-navigation__link-item list-inline-item">
          {{! TODO: Make a dropdown component for this !}}
          <div class="dropdown">
            <button
              class="btn btn-link dropdown-toggle site-navigation__dropdown-button"
              title="User Preferences"
              type="button" id="navigation-user-button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              {{fa-icon "gear" ariaLabel="Account" class="site-navigation__icon"}}
            </button>
            <div
              class="site-navigation__dropdown-menu dropdown-menu dropdown-menu-right"
              aria-labelledby="navigation-user-button">
              {{#link-to "dashboard"
                class="site-navigation__dropdown-link dropdown-item"}}
                My Account
              {{/link-to}}
              {{#if showAdminLink}}
                {{#link-to "dashboard"
                  class="site-navigation__dropdown-link dropdown-item"}}
                  Admin
                {{/link-to}}
              {{/if}}
              {{#if session.isAuthenticated}}
                <a
                  href="#"
                  class="site-navigation__dropdown-link dropdown-item"
                  {{action 'invalidateSession'}}>
                  Log Out
                </a>
              {{else}}
                {{#link-to "login"
                  class="site-navigation__dropdown-link dropdown-item"}}
                  Sign In
                {{/link-to}}
              {{/if}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
