<div class="container">
	<div class="row mb-4">
		<div class="col-12">
			<span class="form-title dark">User Information</span>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12 col-sm-1">
			<div class="single-detail">
				<h5 class="single-detail--label">ID:</h5>
				<span class="single-detail--value">{{user.id}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">First Name:</h5>
				<span class="single-detail--value">{{user.person.firstName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Middle Name:</h5>
				<span class="single-detail--value">{{user.person.middleName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Last Name:</h5>
				<span class="single-detail--value">{{user.person.lastName}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-2">
			<div class="single-detail">
				<h5 class="single-detail--label">Gender:</h5>
				<span class="single-detail--value">{{user.person.gender.name}}</span>
			</div>
		</div>
		<div class="col-12">
      <div class="light-divider"></div>
    </div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">User Username:</h5>
				<span class="single-detail--value">
					{{#if user.username}}
						{{user.username}}
					{{else}}
						No username provided by user
					{{/if}}
				</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">User Email:</h5>
				<span class="single-detail--value">
					{{#if user.email}}
						<a class="detail-link" href="mailto:{{user.email}}">{{user.email}}</a>
					{{else}}
						No email provided by user
					{{/if}}
				</span>
			</div>
		</div>
		<div class="col-12 col-sm-2">
			<div class="single-detail">
				<h5 class="single-detail--label">Date of Birth:</h5>
				<span class="single-detail--value">
					{{moment-format user.person.dateOfBirth 'YYYY-MM-DD'}}
				</span>
			</div>
		</div>
		<div class="col-12 col-sm-1">
			<div class="single-detail">
				<h5 class="single-detail--label">Age:</h5>
				<span class="single-detail--value">{{user.person.age}}</span>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="single-detail">
				<h5 class="single-detail--label">Password Created At:</h5>
				<span class="single-detail--value">
					{{moment-format user.passwordCreatedAt 'YYYY-MM-DD HH:mm'}}
				</span>
			</div>
		</div>
		<div class="col-12">
      <div class="light-divider"></div>
    </div>
	</div>
</div>
