{{#multi-step-form}}
<form class="form add-user--form" {{action "triggerSave" on="submit"}} autocomplete="off">
	<div class="form-step--item active">
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label class="form-label">
						First Name
						<span class="star">*</span>
					</label>
					{{input type="text"
									value=firstName
									class="form-control required"}}
				</div>
			</div>
			<div class="col-12 col-sm-3">
				<label class="form-label">
					Middle Name
				</label>
				{{input type="text"
								value=middleName
								class="form-control"}}
			</div>
			<div class="col">
				<div class="form-group">
					<label class="form-label">
						Last Name
						<span class="star">*</span>
					</label>
					{{input type="text"
									value=lastName
									class="form-control required"}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label class="form-label">
						Username
						<span class="star">*</span>
					</label>
					{{input type="text"
									value=username
									class="form-control required"}}
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label class="form-label">
						Email Address
						<span class="star">*</span>
					</label>
					{{input type="email"
									value=email
									class="form-control required"}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-4">
				<div class="form-group">
					<label class="form-label">
						Date of Birth
						<span class="star">*</span>
					</label>
						<div class="input-group">
							{{input type="date"
											value=dateOfBirth
											class="form-control datepicker required date"}}
							<div class="input-group-prepend">
								<span class="input-group-text">
									{{fa-icon "calendar"
														ariaLabel="Pick a Date"}}
								</span>
							</div>
						</div>
				</div>
			</div>
			<div class="col-12 col-sm-4">
				<div class="form-group">
					<label class="form-label" for="genderSelect">
						Gender
						<span class="star">*</span>
					</label>
					<select id="genderSelect"
									class="form-control required"
									onchange={{action "updateValue" value="target.value"}}>
						{{#each user.genders as |gender|}}
							<option name="gender" value="{{gender.id}}">{{gender.name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label class="form-label">
						Password
						<span class="star">*</span>
					</label>
					{{input type="password"
									value=password
									class="form-control required"}}
				</div>
				<div class="card--details">
					<span class="star">*</span>
					Required Fields
				</div>
			</div>
		</div>
	</div>
	<button id="submit"
					class="btn btn-card mt-3 ml-2 pull-right form-step--btn"
					type="submit">
		Submit
	</button>
</form>
{{#if errorMessage}}
	{{errorMessage}}
{{/if}}
{{/multi-step-form}}
