{{#multi-step-form}}
	<form class="form" method="post" {{action "submit" on="submit"}}>
		<div class="form-step--item active">
			<div class="row">
				<div class="col-12">
					<label class="form-label mt-3">
						Full Name
						<span class="star">*</span>
					</label>
				</div>
				<div class="col-12 col-sm">
					<div class="form-group">
						{{input type="text"
										value=firstName
										class="form-control"
										placeholder="First Name"}}
					</div>
				</div>
				<div class="col-12 col-sm">
					<div class="form-group">
						{{input type="text"
										value=middleName
										class="form-control"
										placeholder="Middle Name"}}
					</div>
				</div>
				<div class="col-12 col-sm">
					<div class="form-group">
						{{input type="text"
										value=lastName
										class="form-control"
										placeholder="Last Name"}}
					</div>
				</div>
			</div>
			<div class="row align-items-center mb-3">
				<div class="col-12 col-sm">
					<div class="form-group">
						<label class="form-label">
							Date of Birth
							<span class="star">*</span>
						</label>
							<div class="input-group">
								{{input type="date"
												value=dateOfBirth
												class="form-control datepicker date"}}
								<div class="input-group-prepend">
									<span class="input-group-text">
										{{fa-icon "calendar"
															ariaLabel="Pick a Date"}}
									</span>
								</div>
							</div>
					</div>
				</div>
				<div class="col-12 col-sm-2">
					<div class="form-group">
						<label class="form-label">
							Age
							<span class="star">*</span>
						</label>
						{{input type="number"
										value=age
										placeholder="XX"
										min="0"
										class="form-control"}}
					</div>
				</div>
				<div class="col-12 col-sm">
					<div class="form-group">
						<label class="form-label">
							Phone Number
							<span class="star">*</span>
						</label>
						<div class="form-group phone-number">
							( {{input type="number"
											min="0"
											class="form-control number"
											name="areaCode"
											placeholder="XXX"
											value=areaCode}} )
							{{input type="number"
											min="0"
											class="form-control number phone"
											name="phoneNumber"
											placeholder="XXX-XXXX"
											value=phoneNumber}}
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-2">
					<label class="block">
						Safe to Call?
					</label>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="canCall"
										id="canCallYes"
										value=yes}}
						<label for="canCallYes"
									 class="form-check-label">
							Yes
						</label>
					</div>
					<div class="form-check inline-block">
						{{input type="radio"
										class="form-check-input"
										name="canCall"
										id="canCallNo"
										value=no}}
						<label for="canCallNo"
									 class="form-check-label">
							No
						</label>
					</div>
				</div>
			</div>
			<div class="row mt-3 mb-3">
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label class="form-label" for="genderSelect">
							Gender Identity
							<span class="star">*</span>
						</label>
						<select id="genderSelect"
										value="genderID"
										class="form-control">
							{{#each shelter.genders as |gender|}}
								<option name="gender" value="{{gender.id}}">{{gender.name}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label class="form-label" for="languages">
							Preferred Language
							<span class="star">*</span>
						</label>
						<select id="languages"
										value="language"
										class="form-control">
							{{#each shelter.languages as |language|}}
								<option name="language" value="{{language.id}}">{{language.name}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12">
					<label class="form-label">
						Address
						<span class="star">*</span>
					</label>
				</div>
				<div class="col-12 col-sm-10">
					<div class="form-group">
						{{input type="text"
										value=streetName
										placeholder="Street"
										class="form-control"}}
					</div>
				</div>
				<div class="col-5 col-sm-2">
					<div class="form-group">
						{{input type="number"
										value=streetNumber
										placeholder="(Apt. #)"
										min="0"
										class="form-control"}}
					</div>
				</div>
				<div class="col-7 col-sm-4">
					<div class="form-group">
						{{input type="text"
										value=cityName
										placeholder="City"
										class="form-control"}}
					</div>
				</div>
				<div class="col-7 col-sm-4">
					<select id="states"
									value="state"
									class="form-control">
						{{#each shelter.states as |state|}}
							<option name="state" value="{{state.id}}">{{state.name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="col-5 col-sm-4">
					<div class="form-group">
						{{input type="number"
										value=zipcode
										placeholder="Zip code"
										min="0"
										class="form-control"}}
					</div>
				</div>
				{{#if "texasSelected"}}
					<div class="col-12 col-sm-6">
						<select id="counties"
										value="county"
										class="form-control">
							{{#each shelter.counties as |county|}}
								<option name="county" value="{{county.id}}">{{county.name}}</option>
							{{/each}}
						</select>
					</div>
				{{/if}}
			</div>
			<div class="row justify-content-between mb-2">
				<div class="col-12">
					<label class="form-label mb-4">
						Which category best describes:
						<span class="star">*</span>
					</label>
				</div>
					{{#each shelter.ethnicities as |ethnicity|}}
					<div class="col-12 col-sm-4">
						<div class="form-check mb-3">
							{{input type="radio"
											class="form-check-input ethnicity"
											name="ethnicity"
											id=(concat "ethnicities" ethnicity.id)
											value=(concat "ethnicities" ethnicity.id)}}
							<label for="ethnicities{{ethnicity.id}}"
										 class="form-check-label">
								{{ethnicity.name}}
							</label>
						</div>
					</div>
					{{/each}}
			</div>
		</div>
	</form>
{{/multi-step-form}}
{{yield}}
