{{#multi-step-form}}
<form class="form"  method="post" {{action "submit" on="submit"}} autocomplete="off">
	<div class="form-step--item active">
		<div class="row">
			<div class="col-12">
				<span class="form-title">Referral Information</span>
			</div>
			<div class="col-12 col-md-5">
				<label class="form-label mt-3">
					Referred By:
					<span class="star">*</span>
				</label>
			</div>
			<div class="col-12">
				<div class="form-group">
					{{input type="text"
									class="form-control"
									id="referredBy"
									value=referredBy}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<span class="card--divider"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<span class="form-title">Personal Information</span>
			</div>
			<div class="col-12">
				<label class="form-label">
					Full Name
					<span class="star">*</span>
				</label>
			</div>
			<div class="col-12 col-sm-4">
				<div class="form-group">
					{{input type="text"
									value=firstName
									class="form-control"
									placeholder="First Name"
									required="required"}}
				</div>
			</div>
			<div class="col-12 col-sm-4">
				<div class="form-group">
					{{input type="text"
									value=middleName
									class="form-control"
									placeholder="Middle Name"
									required="required"}}
				</div>
			</div>
			<div class="col-12 col-sm-4">
				<div class="form-group">
					{{input type="text"
									value=lastName
									class="form-control"
									placeholder="Last Name"
									required="required"}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label class="form-label mt-3">
						Branch of Service:
						<span class="star">*</span>
					</label>
					{{!-- <select id="branchOfServiceSelect"
									value="branchOfService"
									class="form-control">
						<option name="branch" value="" hidden>Select Branch of Service...</option>
						{{#each veteran.branchofservices as |branch|}}
							<option name="branchOfService" value="{{branch.id}}">{{branch.name}}</option>
						{{/each}}
					</select> --}}
					{{#power-select
						placeholder="Select Branch of Service..."
						searchField="name"
						selected=selectedBranch
						options=veteran.branchofservices
						onchange=(action (mut selectedBranch)) as |branch|}}
						{{branch.name}}
					{{/power-select}}
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label class="form-label mt-3">
						Type of Discharge:
						<span class="star">*</span>
					</label>
					{{!-- <select id="dischargeSelect"
									value="militaryDischargeType"
									class="form-control">
						<option name="discharge" value="" hidden>Select Discharge Type...</option>
						{{#each veteran.discharges as |discharge|}}
							<option name="militaryDischargeType" value="{{discharge.id}}">{{discharge.name}}</option>
						{{/each}}
					</select> --}}
					{{#power-select
						placeholder="Select Discharge Type..."
						searchField="name"
						selected=selectedDischarge
						options=veteran.discharges
						onchange=(action (mut selectedDischarge)) as |discharge|}}
						{{discharge.name}}
					{{/power-select}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-5">
				<div class="form-group">
					<label class="form-label" for="genderSelect">
						Gender
						<span class="star">*</span>
					</label>
					<select id="genderSelect"
									value="genderID"
									class="form-control"
									onchange={{action "updateValue" value="target.value"}}>
						{{#each veteran.genders as |gender|}}
							<option name="gender" value="{{gender.id}}">{{gender.name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="col-12 col-sm-2">
				<div class="form-group">
					<label class="form-label">
						Age
						<span class="star">*</span>
					</label>
					{{input type="number"
									value=age
									placeholder="XX"
									min="0"
									class="form-control"}}
				</div>
			</div>
			<div class="col-12 col-sm-5">
				<div class="form-group">
					<label class="form-label" for="ethnicitySelect">
						Ethnicity
						<span class="star">*</span>
					</label>
					{{!-- <select id="ethnicitySelect"
									value="ethnicity"
									class="form-control">
						{{#each veteran.ethnicities as |ethnicity|}}
							<option name="ethnicity" value="{{ethnicity.id}}">
								{{ethnicity.name}}
							</option>
						{{/each}}
					</select> --}}
					{{#power-select
						placeholder="Select..."
						searchField="name"
						selected=selectedEthnicity
						options=veteran.ethnicities
						onchange=(action (mut selectedEthnicity)) as |ethnicity|}}
						{{ethnicity.name}}
					{{/power-select}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<span class="card--divider"></span>
			</div>
		</div>
	</div>
	<div class="form-step--item hidden">
		<div class="row align-items-center mt-3 mb-3">
			<div class="col-12">
				<span class="form-title">Personal Information</span>
			</div>
			<div class="col-12 col-sm-5">
				<label class="form-label">
					Home Income:
					<span class="star">*</span>
				</label>
				<div class="form-group">
					{{input type="number"
									placeholder="XXXXXX"
									class="form-control"
									id="householdIncome"
									value=householdIncome}}
				</div>
			</div>
			<div class="col-12 col-sm-3">
				<label class="form-label">
					DD214?
					<span class="star">*</span>
				</label>
				<div class="form-check inline-block">
					{{input type="radio"
									class="form-check-input"
									name="hasDd214"
									id="hasDd214Yes"
									value=Yes}}
					<label for="hasDd214Yes"
								 class="form-check-label">
						Yes
					</label>
				</div>
				<div class="form-check inline-block">
					{{input type="radio"
									class="form-check-input"
									name="hasDd214"
									id="hasDd214No"
									value=no}}
					<label for="hasDd214No"
								 class="form-check-label">
						No
					</label>
				</div>
			</div>
			<div class="col-12 col-sm-4">
				<label class="form-label">
					Registered With VA:
					<span class="star">*</span>
				</label>
				<div class="form-check inline-block">
					{{input type="radio"
									class="form-check-input"
									name="isRegisteredWithVa"
									id="isRegisteredWithVaYes"
									value=Yes}}
					<label for="isRegisteredWithVaYes"
								 class="form-check-label">
						Yes
					</label>
				</div>
				<div class="form-check inline-block">
					{{input type="radio"
									class="form-check-input"
									name="isRegisteredWithVa"
									id="isRegisteredWithVaNo"
									value=no}}
					<label for="isRegisteredWithVaNo"
								 class="form-check-label">
						No
					</label>
				</div>
			</div>
		</div>
		<div class="row mt-3 mb-3 align-items-center">
			<div class="col-12 col-sm-4">
				<label class="form-label">
					Phone Number
					<span class="star">*</span>
				</label>
				<div class="form-group phone-number">
					( {{input type="number"
									min="0"
									class="form-control number"
									name="areaCode"
									placeholder="XXX"
									value=areaCode}} )
					{{input type="number"
									min="0"
									class="form-control number phone"
									name="phoneNumber"
									placeholder="XXX-XXXX"
									value=phoneNumber}}
				</div>
			</div>
			<div class="col-12 col-sm-4">
				<div class="form-group">
					<label class="form-label">
						Job Title
					</label>
					{{input type="text"
									value=jobTitle
									class="form-control"}}
				</div>
			</div>
			<div class="col-12 col-sm-2">
				<label class="form-label">
					Disability?
					<span class="star">*</span>
				</label>
				<div class="form-check inline-block">
					{{input type="radio"
									class="form-check-input"
									name="isOnDisability"
									id="isOnDisabilityYes"
									value=Yes}}
					<label for="isOnDisabilityYes"
								 class="form-check-label">
						Yes
					</label>
				</div>
				<div class="form-check inline-block">
					{{input type="radio"
									class="form-check-input"
									name="isOnDisability"
									id="isOnDisabilityNo"
									value=no}}
					<label for="isOnDisabilityNo"
								 class="form-check-label">
						No
					</label>
				</div>
			</div>
			<div class="col-12 col-sm-2">
				<label class="form-label">
					Homeless?
					<span class="star">*</span>
				</label>
				<div class="form-check inline-block">
					{{input type="radio"
									class="form-check-input"
									name="isHomeless"
									id="isHomelessYes"
									value=Yes}}
					<label for="isHomelessYes"
								 class="form-check-label">
						Yes
					</label>
				</div>
				<div class="form-check inline-block">
					{{input type="radio"
									class="form-check-input"
									name="isHomeless"
									id="isHomelessNo"
									value=no}}
					<label for="isHomelessNo"
								 class="form-check-label">
						No
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<span class="card--divider"></span>
			</div>
		</div>
	</div>
	<button id="submit"
					style="display: none;"
					class="btn btn-card mt-3 ml-2 pull-right form-step--btn"
					type="submit">
		Submit
	</button>
</form>
{{/multi-step-form}}
{{yield}}
