<main class="page-container">
	<div class="page-card">
		<div class="page-card--header">
			<h4 class="header--title">All Users</h4>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					{{#list-filter
							filter=(action 'filterByName') as |filteredResults|}}
							<div class="table-responsive">
								<div class="list-table">
									<div class="table-head">
										<div class="col-1 table-title">
											<span class="column-header" {{action "sortByColumn" "id"}}>ID</span>
										</div>
										<div class="col table-title">
											<span class="column-header" {{action "sortByColumn" "firstName"}}>Name</span>
										</div>
										<div class="col table-title">
											<span class="column-header" {{action "sortByColumn" "username"}}>Username</span>
										</div>
										<div class="col-3 table-title">
											<span class="column-header" {{action "sortByColumn" "email"}}>Email</span>
										</div>
										<div class="col table-title">
											<span class="column-header" {{action "sortByColumn" "passwordCreatedAt"}}>Password Created At</span>
										</div>
										<div class="col-1 table-title">
											<span class="column-header" {{action "sortByColumn" "age"}}>Age</span>
										</div>
										<div class="col-2 table-title">
											<span class="column-header">Actions</span>
										</div>
									</div>
									<div class="table-body">
										{{#each filteredResults as |userSingle|}}
											{{user-listing user=userSingle}}
										{{/each}}
									</div>
								</div>
							</div>
					{{/list-filter}}
				</div>
			</div>
		</div>
		<div class="card--footer">

		</div>
	</div>
</main>
