<main class="page-container">
  <div class="container-fluid">
    <div class="dashboard-card card">
      <div class="card--header">
        <h4 class="header--title">Dashboard</h4>
      </div>
      <div class="card--content">
        <div class="container">
          <div class="row mt-5">
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "adult-intake"
                class="dashboard-item"
                title="Adult Intake Form"
                }}
                <span class="dashboard-item--icon">
                  {{fa-icon "male" ariaLabel="Adult Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Adult Intake
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "veteran-resource-center"
                class="dashboard-item"
                title="VRC Intake Form"
                }}
                <span class="dashboard-item--icon green">
                  {{fa-icon "address-card-o" ariaLabel="VRC Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Veteran Resource Center
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "shelter-intake"
                class="dashboard-item"
                title="Shelter Intake Form"
                }}
                <span class="dashboard-item--icon">
                  {{fa-icon "folder" ariaLabel="Shelter Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Shelter Intake
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "dashboard"
                class="dashboard-item"
                title="Adult Intake Form"
                }}
                <span class="dashboard-item--icon green">
                  {{fa-icon "male" ariaLabel="Adult Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Example Title
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "dashboard"
                class="dashboard-item"
                title="Adult Intake Form"
                }}
                <span class="dashboard-item--icon">
                  {{fa-icon "male" ariaLabel="Adult Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Example Title
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "dashboard"
                class="dashboard-item"
                title="Example Title Form"
                }}
                <span class="dashboard-item--icon green">
                  {{fa-icon "male" ariaLabel="Example Title Form"}}
                </span>
                <span class="dashboard-item--title">
                  Example Title
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "dashboard"
                class="dashboard-item"
                title="Example Title Form"
                }}
                <span class="dashboard-item--icon">
                  {{fa-icon "male" ariaLabel="Example Title Form"}}
                </span>
                <span class="dashboard-item--title">
                  Example Title
                </span>
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
      <div class="card--footer">

      </div>
    </div>
  </div>
</main>
