<main class="page-container">
  <div class="container-fluid">
    <div class="dashboard-card card">
      <div class="card--header">
        <h4 class="header--title">Dashboard</h4>
      </div>
      <div class="card--content">
        <div class="container">
          <div class="row mt-5 justify-content-center">
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "adult-intake"
                class="dashboard-item"
                title="Adult Intake Form"
                }}
                <span class="dashboard-item--icon">
                  {{fa-icon "male" ariaLabel="Adult Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Adult Intake
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "veteran-resource-center"
                class="dashboard-item"
                title="VRC Intake Form"
                }}
                <span class="dashboard-item--icon green">
                  {{fa-icon "address-card-o" ariaLabel="VRC Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Veteran Resource Center
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "shelter-intake"
                class="dashboard-item"
                title="Shelter Intake Form"
                }}
                <span class="dashboard-item--icon">
                  {{fa-icon "folder" ariaLabel="Shelter Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Shelter Intake
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "child-intake"
                class="dashboard-item"
                title="Child Intake Form"
                }}
                <span class="dashboard-item--icon green">
                  {{fa-icon "child" ariaLabel="Child Intake Form"}}
                </span>
                <span class="dashboard-item--title">
                  Child Intake Form
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "generate-report"
                class="dashboard-item"
                title="Generate Report"
                }}
                <span class="dashboard-item--icon blue">
                  {{fa-icon "file-text-o" ariaLabel="Generate Report"}}
                </span>
                <span class="dashboard-item--title">
                  Generate Report
                </span>
              {{/link-to}}
            </div>
            <div class="d-flex col-12 col-sm-6 col-md-6 col-lg-4">
              {{#link-to "clients"
                class="dashboard-item"
                title="View All Clients"
                }}
                <span class="dashboard-item--icon green">
                  {{fa-icon "users" ariaLabel="View All Clients"}}
                </span>
                <span class="dashboard-item--title">
                  View All Client Reocrds
                </span>
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
      <div class="card--footer">

      </div>
    </div>
  </div>
</main>
